body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

.Music-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px;
}

.GTA {
    width: 300px;
    height: auto;
    cursor: grab;
}

#dropbox {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    background-color: lightgray;
    border: 2px dashed #333;
    border-radius: 10px;
    width: 60%;
    min-height: 150px;
    margin: auto;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.dropped-image {
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 150px;
    border-radius: 8px;
    cursor: pointer;
}